{% load social_share %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}"><link/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kavoon&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <title>BLOGVILLE</title>
    <head/>
    <body style="background-color:white;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="id">
            <div class="container-fluid">
                {% comment %} {% load static %}
                <img src="{% static 'images/fire-dynamic-color.png' %}" id="logo"> {% endcomment %}
              <h1 class="navbar-brand" style=" font-family: 'Kavoon', cursive; font-size:30px; color:#03071e">BLOGVILLE</h1>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" id="nav-btn">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0 ">
                  {% comment %} <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li> {% endcomment %}
                  {% if user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="/add_Blog/">Add blog</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="/profile/">
                        {% if user.profile.image %}
                        <img src="{{user.profile.image.url}}" alt="" width="30px" height="30px" class="rounded-circle">
                        {% endif %}profile</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#">Hello {{request.user}}</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="/Logout/">Logout</a>
                  </li>

                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link " href="/Register/">Register</a>
                  </li>
                   <li class="nav-item">
                    <a class="nav-link" href="/Login/">Login</a>
                  </li>
                
                  <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                  </li>
                  {% endif %}
                </ul>
                <span class="navbar-text">
                <button type="button" class="btn btn-primary" style="border-radius: 45px;">Get started</button>
                </span>
                <form class="d-flex" action="/blog_search/" method='POST'>{% csrf_token %}
                  <input class="form-control me-2" type="search" placeholder="Search" name="searched" id="searched" aria-label="Search">
                  <button href="/blog_search/" class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
          {% if searched %}

<div class="container mt-5 mb-3">

    <div class="row">
        {% for blog in blogs %}
        <div class="col-lg-4 my-4 col-md-6  ">
          <div class="card " style="width: 22rem; height: 37rem; border-radius: 50px;">
              <img src="/media/{{blog.image.url}}" class="card-img-top" alt="..." height="250px">
              <div class="card-body">
                <h5 class="card-title">{{blog.title}} <br><small>by {{blog.author}}</small></h5>
                <p class="card-text">{{blog.content| truncatechars:100}}</p>
                <h5 class="card-title text-bold" > <a href="/user_profile/{{blog.author.id}}/" class="text-decoration-none" style="color:black"> <br><small>
              
                 
                  {% if blog.author.profile.image %}
                  <img src="{{blog.author.profile.image.url}}" alt="" width="30px" height="30px" class="rounded-circle">
                  {% else %}
                  {% load static %}
                  <img src="{% static 'images\kindpng_4212275.png' %}"  alt="" width="30px" height="30px" class="rounded-circle">
                  {% endif %}{{blog.author}}   
                </small> </a>
                {% if user.is_authenticated %}
               
                <form action="{% url 'blogpost_like' blog.id %}" method="POST">
                  {% csrf_token %}
              
                 
                  <button type="submit" name="blogpost_id" value="{{blog.id}}" style="border:none; background-color:transparent; color:gray">
                    <i class="fa-solid fa-thumbs-up"></i>
                  </button>
                
                  <button type="submit" name="blogpost_id" value="{{blog.id}}" style="border:none; background-color:transparent; color:gray">
                    <i class="fa-solid fa-thumbs-down"></i>
                  </button>
                
                  {% comment %} <button href="/blog/{{post.slug}}/" style="border:none; background-color:transparent; color:gray"> {% endcomment %}
                    <a href="/blog/{{blog.slug}}/" style="background-color:transparent; color:gray"><i class="fa-solid fa-comment"></i></a>
              
                </form>
                <!-- Button trigger modal -->



              {% else %}
                <a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Log in to like this article!</a><br>
              {% endif %}
              <h6 class="text-secondary">{{postblog..number_of_likes}} Likes{{ number_of_likes|pluralize }}</h6>
              <button type="button" class="" data-bs-toggle="modal" data-bs-target="#exampleModal" style="border:none; background-color:transparent; color:gray">
                <i class="fa-solid fa-share"></i>
              </button>

              </h5>  
              {% if user.is_authenticated %}
              {% if user.id == blog.author.id %}
              <a href="delete_blog_post/{{blog.slug}}/" class="btn btn-danger mx-4">Delete Blog</a>
              {% endif %}
              {% endif %}     
                <a href="blog/{{blog.slug}}" class="btn btn-primary">Read More {% if user.is_superuser %}<a href="delete_blog_post/{{blog.slug}}/" class="btn btn-danger mx-4">Delete Blog</a>{% endif %}</a>
              </div>
            </div>
      </div>
      {% endfor %}
      {% comment %} {% endif %} {% endcomment %}
  </div>
</div>
</div>
{% else %}
<h1>You forgot to search</h1>
{% endif %}

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Share blogpost</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {% post_to_facebook object_or_url '<i class="fa-solid fa-share-from-square"></i>share on facebook'%}
            {% post_to_twitter "New song: {{object.title}}. check it out!" object_or_url   '<i class="fa-solid fa-share-from-square"></i>share on twitter'%}
            {% post_to_whatsapp object_or_url '<i class="fa-solid fa-share-from-square"></i>share on whatsapp' %}
            {% comment %} {% post_to_facebook object_or_url '<i class="fa-solid fa-share-from-square"></i>share to facebook' %} {% endcomment %}
          </div>
         
        </div>
      </div>
    </div>
        </body>
        </html>